body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

section {
    text-align:justify;

}

p {
   color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section {
    margin: 20px 60px 20px 20px;
    margin-top: 100px;
    padding: 20px;
}
.title{
    color:rgb(59,81,222);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}